# RenderArc C++ Code Style Configuration
# Based on LLVM style with customizations

BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: true
IndentPPDirectives: BeforeHash

# Line length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align
AlignTrailingComments: true

# Pointers and references
DerivePointerAlignment: false
PointerAlignment: Left

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Breaking
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

# Includes
IncludeBlocks: Regroup
IncludeCategories:
  # Main module header
  - Regex:           '^".*\.hpp"$'
    Priority:        1
  # C++ standard library
  - Regex:           '^<[a-z_]+>$'
    Priority:        2
  # External dependencies
  - Regex:           '^<(raylib|imgui|nlohmann|gtest|glm)/.*>$'
    Priority:        3
  # Project headers
  - Regex:           '^"(Arca|BuzzRenderer|Stage)/.*"$'
    Priority:        4
  # Other headers
  - Regex:           '.*'
    Priority:        5

# Namespaces
CompactNamespaces: false
FixNamespaceComments: true
NamespaceIndentation: None

# Sorting
SortIncludes: CaseSensitive
SortUsingDeclarations: true

# Other
Standard: c++20
